.inactive{
  opacity: 0.6;
}

.send__background{
  padding: 20px;
  background: linear-gradient(173.72deg, #E26043 9.21%, #C4412C 98.5%);

  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  max-width: 335px;
}

.form__error_hint{
  border-radius: 12px;
  margin-top: 10px;
  font-size: 12px;
  color: white;
  padding: auto;
  text-align: center;
}

.form__error_hint span{
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 16px;
  border-radius: 16px;
}

.gas_box{
  background: none;
  border: 1px solid #FFF4DD;
  box-sizing: border-box;
  border-radius: 4px;
}

.gas_box *{
  color: white;
}
