.share__copy_button{
  max-width: 255px;
  margin: 86px auto 10px;
}

.shared__container{
  padding-top: 195px;
}

.shared__component{
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.link__btn{
  font-size: 15px;
}
